@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');



body {
  background: url(Images/pinkplumgradient.jpg)no-repeat, center, center, fixed;
  background-size: cover;
  font-family: 'Indie Flower', cursive;
  font-size: 1.2em;
  letter-spacing: 1.1px;
  color: inherit;
}

button {
  font-family: 'Inconsolata', monospace;
  margin-top: 60px;
  width: 24%;
  height: 60px;
  border-radius: 8px;
  background-color: peachpuff;
  text-shadow: 2px 2px 0px white;
  font-size: 0.9em;
  letter-spacing: 1px;
  text-overflow: auto;

}
